
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(images/invert.jpeg);
    background-repeat: repeat;
    background-size: 33%;
    background-position-y: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

@font-face {
    font-family: "WiredMono";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Bold.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Regular.woff2) format("woff2")
}

@font-face {
    font-family: "WiredMono";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(fonts/WiredMono-Light.woff2) format("woff2")
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 * {
    font-size: 2em;
    color: #000;
}

h1 span#number {
    display: block;
    transform: rotate(-2deg);
    border: .15em solid #000;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.2em 0.25em;
    font-family: "WiredMono";
    font-variant-caps: small-caps;
    font-weight: 700;
}

#address {
    margin-top: 0.5em;
    font-family: "WiredMono";
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}
